.headerSettings{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    padding: 15px 20px 20px 0;
    font-size: 22px;
    gap: 1vw;
    font-family: 'Nunito', sans-serif;
}

.styleList{
    text-decoration: none;
    color: #000;
}