.headerSettings{
    font-size: 28px;
    border: none;
    font-family: 'Eczar';
    font-weight: 900;
}

.homeImg{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 5px 0;
}

.styleList{
    text-decoration: none;
}