.imageSizing{
    width: 25vw;
    height: auto;
}

.grid-homepage-container{
    display: grid;
    grid-template-areas: 
        'Image Name Name Name Name'
        'Image Birthday Birthday Birthday Birthday'
        'Information Information Information Information Information'
        'Skills Skills Projects Hobbies Hobbies';
}

.gridImage{
    grid-area: Image;
    text-align: center;
}

.gridFullName{
    grid-area: Name;
    text-align: left;
    padding: 8% 0 0 10%;
}

.gridBornDate{
    grid-area: Birthday;
    padding: 6% 0 10% 18%;
}

.gridInformation{
    grid-area: Information;
    text-align: center;
    padding: 0 0 2% 14%;
}

.gridSkills {
    grid-area: Skills;
    text-align: right;
    font-family: 'Dancing Script', cursive;
    --bs-link-hover-color: #d9d9d9;
}

.gridProjects {
    grid-area: Projects;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    --bs-link-hover-color: #d9d9d9;
}

.gridHobbies {
    grid-area: Hobbies;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    --bs-link-hover-color: #d9d9d9;
}

.configurationLinks{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2vw;
    position: absolute;
    left: 30vw;
}

.linkPosition{
    text-decoration: none;
    color: #d9d9d9;
    font-size: 32px;
}