*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #b3d1ff;
}

header, body, footer{
  width: 100%;
  font-family: 'Nunito', sans-serif;
}

a{
  color: inherit;
}

.gridSkills .gridProjects .gridHobbies{
  font-family: 'Dancing Script', cursive;
}